<div id="contracts-container">

    <div th:fragment="contracts-list" xmlns:th="http://www.w3.org/1999/xhtml">

        <div th:replace="fragments/list-header :: list-header('+ Novo Contrato', @{/contract/new})"></div>

        <table class="styled-table">
            <thead>
            <tr>
                <th onclick="sortTable(0)">Contrato</th>
                <th onclick="sortTable(1)">Início</th>
                <th onclick="sortTable(2)">Fim</th>
                <th>Moto</th>
                <th>Locatário</th>
                <th onclick="sortTable(5)">Status</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="contract : ${contracts}">
                <td th:text="${contract.contractNumber}"></td>
                <td th:text="${#temporals.format(contract.startDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${#temporals.format(contract.endDate, 'dd/MM/yyyy')}"></td>
                <td th:text="${contract.motorcycle.model.name}"></td>
                <td th:text="${contract.tenant.fullName}"></td>
                <td th:text="${contract.status}"></td>
                <td>
                    <button
                            th:hx-get="@{/contract/{id}/details(id=${contract.id})}"
                            hx-target="#dialog"
                            hx-swap="innerHTML">
                        Ver detalhes
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>