<div th:fragment="motorcycle-detail" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-header">
        <h5 class="modal-title">[[${motorcycle.model}]]</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>

    <div class="modal-body">
        <div class="mb-2"><strong>ID:</strong> [[${motorcycle.id}]]</div>
        <div class="mb-2"><strong>Modelo:</strong> [[${motorcycle.model}]]</div>
        <div class="mb-2"><strong>Placa:</strong> [[${motorcycle.licensePlate}]]</div>
        <div class="mb-2"><strong>Pátio:</strong> [[${motorcycle.yard.name}]]</div>
        <div class="mb-2"><strong>Status:</strong> [[${motorcycle.status}]]</div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-danger"
                th:hx-delete="@{/motorcycle/{id}(id=${motorcycle.id})}"
                hx-target="#motorcycles-list"
                hx-swap="innerHTML"
                data-bs-dismiss="modal">
            Excluir
        </button>

        <button class="btn btn-primary"
                th:hx-get="@{/motorcycle/{id}/edit(id=${motorcycle.id})}"
                hx-target="#modalContent"
                hx-swap="innerHTML">
            Editar
        </button>
    </div>
</div>
