<div th:fragment="motorcycle-list" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div id="motorcycles-list">

        <div th:replace="fragments/list-header :: list-header('Nova Moto', @{/motorcycle/new})"></div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Modelo</th>
                <th>Pátio</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="moto : ${motorcycles}">
                <td th:text="${moto.id}">1</td>
                <td th:text="${moto.licensePlate}">ABC-1234</td>
                <td th:text="${moto.chassis}">XYZ123</td>
                <td th:text="${moto.model}">Honda</td>
                <td th:text="${moto.yard.name}">Pátio 1</td>
                <td>
                    <button sec:authorize="isAuthenticated()"
                            class="btn btn-sm btn-info"
                            th:hx-get="@{/motorcycle/{id}/details(id=${moto.id})}"
                            hx-target="#modalContent"
                            hx-swap="innerHTML"
                            data-bs-toggle="modal"
                            data-bs-target="#mainModal">
                        Ver detalhes
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
