<div th:fragment="contract-detail" class="custom-modal-overlay" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="custom-modal">


        <div class="modal-header">
            <h5 class="modal-title">Contrato [[${contract.contractNumber}]]</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="custom-modal-body">

            <div class="custom-section">
                <h3>Informações</h3>
                <div class="row"><span>Data de início</span><span>[[${contract.startDate}]]</span></div>
                <div class="row"><span>Data de término</span><span>[[${contract.endDate}]]</span></div>
                <div class="row"><span>Status</span><span>[[${contract.status}]]</span></div>
            </div>

            <div class="custom-section">
                <h3>Motocicleta</h3>
                <div class="row"><span>Modelo</span><span>[[${contract.motorcycle.model.name}]]</span></div>
                <div class="row"><span>Placa</span><span>[[${contract.motorcycle.licensePlate}]]</span></div>
                <div class="row"><span>Chassi</span><span>[[${contract.motorcycle.chassis}]]</span></div>
            </div>

            <div class="custom-section">
                <h3>Locatário</h3>
                <div class="row"><span>Nome</span><span>[[${contract.tenant.fullName}]]</span></div>
                <div class="row"><span>CPF</span><span>[[${contract.tenant.cpf}]]</span></div>
                <div class="row"><span>Endereço</span>
                    <span>[[${contract.tenant.address.streetName}]], [[${contract.tenant.address.number}]] - [[${contract.tenant.address.complement}]]</span>
                </div>
                <div class="row"><span>CEP</span><span>[[${contract.tenant.address.zipCode}]]</span></div>
            </div>
        </div>

        <div class="custom-modal-footer">

            <button class="btn btn-danger"
                    th:hx-delete="@{/contract/{id}(id=${contract.id})}"
                    hx-target="#motorcycles-list"
                    hx-swap="innerHTML"
                    data-bs-dismiss="modal">
                Excluir
            </button>

            <button class="btn btn-primary"
                    th:hx-get="@{/contract/{id}/edit(id=${contract.id})}"
                    hx-target="#modalContent"
                    hx-swap="innerHTML">
                Editar
            </button>
        </div>
    </div>
</div>
